# gitignore para lidar com o Altera Quartus II 

# arquivos que não queremos ignorar 
# *.vhd 
# *.v
# *.sdc

# arquivos ignorados do Quartus II 
PLLJ_PLLSPE_INFO.
*.tcl
*~
*_generation_script*
*_inst.vhd
*.bak
*.cmp
*.done
*.eqn
*.hex
*.html
*.jdi
*.mif
*.pin
*.pof
*.ptf
*.qar
*.qarlog
*.qws
*.rpt
*.smsg
*.sof
*.sopc_builder
*.summary



# ignorar folders que o Quartus II constuma gerar
*_sim
simulation
testbench
timing
db
incremental_db
greybox_tmp

